.pointer {
    cursor: pointer
  }
  
  .w100 {
    width: 100px;
  }
  
  .w150 {
    width: 150px;
  }
  
  .w70 {
    width: 70px;
  }
  
  .w40 {
    width: 40px;
  }
  
  .img-50 {
    width: 50px;
  }
  
  .img-70 {
    width: 70px;
  }

 