<h2>Módulos, Rutas hijas y Lazy Load</h2>
<hr />
<ul>
  <h3>Rutas Auth</h3>
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/auth/registro">Registro</a>
  </li>
  <li>
    <a routerLink="/auth/perfil">Perfil proteguido con el guard</a>
  </li>
  <li>
    <a routerLink="/auth/forgot">Forgot</a>
  </li>

  <h3>Rutas Productos</h3>
  <li>
    <a routerLink="/productos/agregar">Agregar Productos</a>
  </li>
  <li>
    <a routerLink="/productos/listado">Listado de productos</a>
  </li>
  <li>
    <a routerLink="/productos/productodetalle">Detalle de productos</a>
  </li>
</ul>

Páginas
<router-outlet></router-outlet>
